<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge.Core" version="16.0.0-beta3" targetFramework="net452" />
  <package id="Bridge.Html5" version="16.0.0-beta3" targetFramework="net452" />
  <package id="Bridge.Min" version="16.0.0-beta3" targetFramework="net452" />
  <package id="Bridge.QUnit" version="1.8.4-beta3" targetFramework="net452" />
  <package id="Bridge.React" version="2.6.2-beta" targetFramework="net452" />
  <package id="Chutzpah" version="4.2.1" allowedVersions="[4.2.1]" targetFramework="net452" />
  <package id="ProductiveRage.Immutable" version="2.5.1-beta" targetFramework="net452" />
  <package id="ProductiveRage.Immutable.Extensions" version="2.3.1-beta" targetFramework="net452" />
</packages>