<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge" version="1.12.1" targetFramework="net452" />
  <package id="Bridge.QUnit" version="1.7.0" targetFramework="net452" />
  <package id="Bridge.React" version="1.5.2" targetFramework="net452" />
  <package id="Chutzpah" version="4.2.1" allowedVersions="[4.2.1]" targetFramework="net452" />
  <package id="ProductiveRage.Immutable" version="1.7.1.0" targetFramework="net452" />
  <package id="ProductiveRage.Immutable.Extensions" version="1.0.0" targetFramework="net452" />
</packages>