<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge.Core" version="17.1.1" targetFramework="net452" />
  <package id="Bridge.Html5" version="17.1.0" targetFramework="net452" />
  <package id="Bridge.Min" version="17.1.1" targetFramework="net452" />
  <package id="Bridge.QUnit" version="1.14.0" targetFramework="net452" />
  <package id="Bridge.React" version="4.0.0" targetFramework="net452" />
  <package id="Chutzpah" version="4.2.1" allowedVersions="[4.2.1]" targetFramework="net452" />
  <package id="ProductiveRage.Immutable" version="3.0.0" targetFramework="net452" />
  <package id="ProductiveRage.Immutable.Extensions" version="4.0.0" targetFramework="net452" />
</packages>